@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap%27');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bg{
    width: 100%;    
}

.bg h1{
    font-size: 30px;
    color: black;
    font-family: 'Poppins';
    font-weight: 600;
    text-align: center;
    margin: 70px 30px;
}

/*tipo, tudo q eu botar nela, vou deixar com o
display flex*/

/*

container bg -> container principal, só pra n deixar os 
bagulho jogado

helper -> container secundario pra aplicar o display flex

- se eu n fizesse isso, teria q colocar o flex no container bg,
olha o que aconteceria...

*/

.helperFst{
    padding: 70px 0;
    display: flex; /*Deixa no meio*/
    justify-content: center; /*Centraliza*/

}

.helperScd{
    padding: 70px 0;
    display: flex; /*Deixa no meio*/
    justify-content: center; /*Centraliza*/
}

.helperFst .pic{
    margin-right: 50px;
}

.helperScd .pic{
    margin-left: 50px;
}

.pic{
    background-color: rgb(54, 2, 13);
    width: 250px;
    height: 250px;
    border-radius: 100%;
}


.auxDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: normal;
    min-width: 400px;
    max-width: 500px;
}

.content{
    min-width: 400px;
    max-width: 500px;
    display: block;
}

.date{
    color: black;
    font-size: 13px;
    font-weight: 500;
}

.title{
    color: black;
    font-size: 22px;
    font-weight: 600;
}

.textScd{
    color: black;
    font-size: 18px;
    font-weight: 400;
}

.textFst{
    text-align: right;
    font-size: 18px;
}

.helperFst .content .title, p{
    color: black;
    text-align: right;
}

.helperScd .content .title, p{
    color: black;
    text-align: left;
}

.helperFst .carousel{
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 100%;
    position: relative;
}

.helperFst .carousel-control {
    border-radius: 10px;
}


.helperScd .carousel{
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 100%;
    position: relative;
}

.helperScd .carousel-control {
    border-radius: 10px;
}